body {
  font-family: Arial;
  transition: 0.4s;
}

body.light {
  background: #e0f7fa;
  color: #000;
}

body.dark {
  background: #121212;
  color: #fff;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  width: 90%;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.icon {
  font-size: 60px;
  margin: 10px;
}

